function Node.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 8
pop this 4
push constant 8
pop this 5
push pointer 0
return
function Node.getX 0
push argument 0
pop pointer 0
push this 0
return
function Node.getY 0
push argument 0
pop pointer 0
push this 1
return
function Node.getNext 0
push argument 0
pop pointer 0
push this 2
return
function Node.getPrev 0
push argument 0
pop pointer 0
push this 3
return
function Node.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Node.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Node.setNext 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Node.setPrev 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Node.drawNode 0
push argument 0
pop pointer 0
push this 0
push this 5
call Math.multiply 2
push this 4
add
push this 1
push this 5
call Math.multiply 2
push this 4
add
push this 0
push this 5
call Math.multiply 2
push this 5
add
push this 4
add
push constant 1
sub
push this 1
push this 5
call Math.multiply 2
push this 5
add
push this 4
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Node.clearNode 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 5
call Math.multiply 2
push this 4
add
push this 1
push this 5
call Math.multiply 2
push this 4
add
push this 0
push this 5
call Math.multiply 2
push this 5
add
push this 4
add
push constant 1
sub
push this 1
push this 5
call Math.multiply 2
push this 5
add
push this 4
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function Node.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
